*.DS_Store
.vscode
/devzat
.idea
/dist
slackAPI.txt*
adminPass.txt
*.gob
*.swp
devzat-data/log.txt
devzat-data/bans.json
allusers.json
iptables.sh
twitter-creds.json
twitter-creds.json.bak
devzat-creds.yml
devzat-sshkey
admins.json
*.bak
